@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* banner styles start */

.banner {
  width: 1300px;
  height: 600px;
  margin: 50px 120px;
  border-radius: 15px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.banner-description {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 700;
  padding: 0px 340px;
}

/* offer styles start */

.offer-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
}

.offer-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.offer-category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.offer-img {
  display: flex;
  width: 500px;
  margin: auto;
  fill: lightgray 50%;
}

/* welcome styles start */

.welcome-session {
  width: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  margin: 0px 140px;
  padding: 0px 120px;
  margin-top: 100px;
  border-radius: 15px;
}

.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
}

.join-button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff0000;
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
  margin-top: 30px;
}

/* schedule styles start */

.schedule-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 0px 140px;
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  padding: 100px 250px;
  line-height: 45px;
  margin-top: 120px;
  margin-bottom: 48px;
  border-radius: 15px;
}

.schedule-span {
  color: #f00;
}

/* best offer style start */

.best-offer-section {
  display: flex;
  margin: 0px 140px;
  gap: 80px;
  margin-bottom: 100px;
}

.best-offer {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-top: 80px;
}

.best-offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 30px;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
}

.best-offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 15px;
  width: 350px;
  font-weight: 400;
  line-height: 24px;
}

.best-offer-img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 15px solid #ff0000;
  background: lightgray 150.038% 100%;
}

.year-title {
  color: #f00;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  margin-top: 80px;
}

.year-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* holiday style starts */

.holiday-section {
  margin: 0px 140px;
}

.functional {
  color: #070211;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.holiday-offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.holidays-span {
  color: #f00;
}

.holiday-offer-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0px 400px;
  margin-bottom: 50px;
}

/* best gift style start */

.best-gift-section {
  margin: 0px 140px;
}

.best-gift {
  color: #f00;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.best-gift-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 800;
}

.best-gift-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 400px;
}

.best-gift-img {
  display: flex;
}
.best-gift-img img {
  height: 350px;
  width: 350px;
  margin: 10px;
}

/* subscription style start */

.subscription {
  margin: 100px 140px;
  padding: 100px 250px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscription img {
  display: flex;
  margin: auto;
}

.subscription-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.subscription-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.email {
  width: 648px;
  height: 72px;
}
.sub-btn {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
}

/* footer section start */

.footer {
  align-items: center;
  margin: 100px 140px;
  background: #070211;
  width: 1250px;
  height: 500px;
  border-radius: 15px;
}

.address {
  display: flex;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.icons img {
  width: 50px;
  height: 54px;
}

.copywrite {
  display: flex;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}